<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsit.englishpractice">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Quiz7Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Quiz6Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Quiz5Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2574328611948823~7275331549" />
    </application>

</manifest>